.contact-us{
    .input-group{
        .form-control{
            width: 100%;
            border-radius: 4px !important;
            @media (min-width:991px){
                width: 1%;
            }
        }
    }
}